<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>

        <!--===========================SWITCH TO SINGLE USER========================-->

        <!--        <record id="action_single_user_mode" model="ir.actions.act_window">-->
        <!--            <field name="name">Switch to Single User Mode</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model">users</field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================UNLOCK=======================================-->

        <!--        <record id="unlock" model="ir.actions.act_window">-->
        <!--            <field name="name">Unlock</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================PREFERENCES=======================================-->

        <!--        <record id="action_window_preferences" model="ir.actions.act_window">-->
        <!--            <field name="name">Preferences</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================USERS=======================================-->

        <record id="users_tree_view" model="ir.ui.view">
            <field name="name">res.partner.list</field>
            <field name="model">res.partner</field>
            <field name="arch" type="xml">
                <tree string="">
                    <field name="name"/>
                    <field name="branch_id"/>
                </tree>
            </field>
        </record>

        <record id="users_form_view" model="ir.ui.view">
            <field name="name">res.partner.form</field>
            <field name="model">res.partner</field>
            <field name="inherit_id" ref="base.view_partner_form"/>
            <field name="arch" type="xml">
                <xpath expr="//field[@name='function']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='vat']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='website']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='lang']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='category_id']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//page[@name='sales_purchases']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='company_type']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='parent_id']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='branch_id']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='area_id']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='meeting_count']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//field[@name='contracts_count']" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//notebook" position="attributes">
                    <attribute name="invisible">context.get('hide_field', False)</attribute>
                </xpath>
                <xpath expr="//notebook[2]" position="attributes">
                    <attribute name="invisible">not context.get('show_field', False)</attribute>
                </xpath>
            </field>
        </record>

        <record id="action_window_users" model="ir.actions.act_window">
            <field name="name">Users</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">res.partner</field>
            <field name="view_mode">tree,form</field>
            <field name="view_id" ref="users_tree_view"/>
            <field name="domain">[('type','in',['bm','gm'])]</field>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    <!-- Add Text Here -->
                </p><p>
                <!-- More details about what a user can do with this object will be OK -->
            </p>
            </field>
        </record>

        <!--===========================CHANGE ACCESS CODE=======================================-->

        <!--        <record id="change_access_code" model="ir.actions.act_window">-->
        <!--            <field name="name">Change Access Code</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================PERIODS=======================================-->

        <!--        <record id="action_window_periods" model="ir.actions.act_window">-->
        <!--            <field name="name">Periods</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================END OF DAY=======================================-->

        <!--        <record id="action_window_end_of_day" model="ir.actions.act_window">-->
        <!--            <field name="name">End of Day</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================CLOSE PERIODS=======================================-->

        <!--        <record id="action_window_close_periods" model="ir.actions.act_window">-->
        <!--            <field name="name">Close Periods</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================REOPEN CLOSED PERIODS=======================================-->

        <!--        <record id="action_window_reopen_closed_periods" model="ir.actions.act_window">-->
        <!--            <field name="name">Re-open Closed Periods</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================END OF YEAR=======================================-->

        <!--        <record id="action_window_end_of_year" model="ir.actions.act_window">-->
        <!--            <field name="name">End of Year</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================DATA FILE CLEANER=======================================-->

        <!--        <record id="action_window_data_file_cleaner" model="ir.actions.act_window">-->
        <!--            <field name="name">Data File Cleaner</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================DATA INTEGRITY CHECKER=======================================-->

        <!--        <record id="action_window_data_integrity_checker" model="ir.actions.act_window">-->
        <!--            <field name="name">Data Integrity Checker</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================BACKUP=======================================-->

        <!--        <record id="action_window_backup" model="ir.actions.act_window">-->
        <!--            <field name="name">Backup</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================ABOUT=======================================-->

        <!--        <record id="action_window_about" model="ir.actions.act_window">-->
        <!--            <field name="name">About</field>-->
        <!--            <field name="type">ir.actions.act_window</field>-->
        <!--            <field name="res_model"></field>-->
        <!--            <field name="view_mode">tree,form</field>-->
        <!--            <field name="help" type="html">-->
        <!--              <p class="oe_view_nocontent_create">-->
        <!--                &lt;!&ndash; Add Text Here &ndash;&gt;-->
        <!--              </p><p>-->
        <!--                &lt;!&ndash; More details about what a user can do with this object will be OK &ndash;&gt;-->
        <!--              </p>-->
        <!--            </field>-->
        <!--        </record>-->

        <!--===========================CRM=======================================-->

        <record id="member_crm_kanban_view" model="ir.ui.view">
            <field name="name">crm.lead.member.kanban</field>
            <field name="model">crm.lead</field>
            <field name="inherit_id" ref="crm.crm_case_kanban_view_leads"/>
            <field name="arch" type="xml">
                <xpath expr="//field[@name='user_id']" position="after">
                    <field name="code"/>
                </xpath>
                <xpath expr="//kanban" position="attributes">
                    <attribute name="quick_create_view">credit_base.crm_lead_quickform_view</attribute>
                </xpath>
            </field>
        </record>

        <record id="crm_lead_quickform_view" model="ir.ui.view">
            <field name="name">credit.lead.member.kanban</field>
            <field name="model">crm.lead</field>
            <field name="inherit_id" ref="crm.quick_create_opportunity_form"/>
            <field name="arch" type="xml">
                <xpath expr="//field[@name='planned_revenue']" position="attributes">
                    <attribute name="invisible">1</attribute>
                </xpath>
                <xpath expr="//field[@name='partner_id']" position="attributes">
                    <attribute name="invisible">1</attribute>
                </xpath>
                <xpath expr="//group" position="inside">
                    <field name="application_date"/>
                </xpath>
                <xpath expr="//field[@name='application_date']" position="after">
                    <field name="financing_id"/>
                    <field name="partner_id"/>
                    <field name="company_id"/>
                    <field name="branch_id"/>
                    <field name="area_id"/>
                    <field name="officer_id"/>
                    <field name="cosigner_id"/>
                </xpath>
            </field>
        </record>
        <!-- Inherit Form View to Modify it -->
        <record id="member_crm_form_view_inherit" model="ir.ui.view">
            <field name="name">crm.lead.member.form.inherit</field>
            <field name="model">crm.lead</field>
            <field name="inherit_id" ref="crm.crm_case_form_view_oppor"/>
            <field name="arch" type="xml">
                <xpath expr="//header/button[@name='404']" position="attributes">
                    <attribute name="invisible">1</attribute>
                </xpath>
            </field>
        </record>
        <record id="member_crm_form_view" model="ir.ui.view">
            <field name="name">crm.lead.member.form</field>
            <field name="model">crm.lead</field>
            <field name="inherit_id" ref="crm.crm_case_form_view_oppor"/>
            <field name="arch" type="xml">
                <xpath expr="//field[@name='partner_id']" position="after">
                    <field name="code"/>
                </xpath>
                <!--                <xpath expr="//button[@name='action_schedule_meeting']" position="after">-->
                <!--                    <button class="oe_stat_button" type="object"-->
                <!--                            context="{'default_application_id': id}"-->
                <!--                            name="action_manage_group" icon="fa-users">-->
                <!--                        <div class="o_stat_info">-->
                <!--                            <field name="member_count" class="o_stat_value"/>-->
                <!--                            <span class="o_stat_text" attrs="{'invisible': [('member_count', '&lt;', 2)]}"> Members</span>-->
                <!--                            <span class="o_stat_text" attrs="{'invisible': [('member_count', '&gt;', 1)]}"> Member</span>-->
                <!--                        </div>-->
                <!--                    </button>-->
                <!--                </xpath>-->
                <xpath expr="//header" position="after">
                    <header>
                        <field name="status" widget="statusbar"/>
                    </header>
                </xpath>
                <xpath expr="//header/button[@name='action_set_won_rainbowman']" position="attributes">
                    <attribute name="invisible">1</attribute>
                </xpath>
                <xpath expr="//header/button[@name='280']" position="attributes">
                    <attribute name="invisible">1</attribute>
                </xpath>
                <xpath expr="//header/button[@name='toggle_active']" position="attributes">
                    <attribute name="invisible">1</attribute>
                </xpath>
                <xpath expr="//field[@name='partner_id']" position="before">
                    <field name="financing_id"/>
                </xpath>
                <xpath expr="//field[@name='date_deadline']" position="after">
                    <field name="application_date"/>
                    <field name="cosigner_id"/>
                    <field name="branch_id"/>
                    <field name="area_id"/>
                    <field name="officer_id"/>
                </xpath>
            </field>
        </record>

        <record id="credit_base.action_window_member_crm" model="ir.actions.act_window">
            <field name="name">Members Pipeline</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">crm.lead</field>
            <field name="view_mode">kanban,form</field>
            <field name="view_id" ref="member_crm_kanban_view"/>
            <field name="help" type="html">
                <p class="oe_view_nocontent_create">
                    <!-- Add Text Here -->
                </p><p>
                <!-- More details about what a user can do with this object will be OK -->
            </p>
            </field>
        </record>

    </data>
</odoo>